@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.block-container {
  background-color: #f6f1ee !important;
}
.appview-container {
  background-color: #f6f1ee !important;
  border: 2px dashed #6c5f5b !important;
}

h2 {
  font-family: "Tiro Devanagari Hindi" !important;
  text-decoration: underline !important;
  color: #503c3c !important;
}

h3 {
  color: #503c3c !important;
  font-family: "Poppins" !important;
}

p {
  font-family: "Poppins" !important;
}


[data-testid="stWidgetLabel"] {
  color:#503c3c
}

[data-testid="stNotificationContentWarning"] {
  color: #926c05
}
[data-testid="stNotificationContentError"] {
  color: #7d353b
}
[data-testid="stNotificationContentSuccess"] {
  color: #177267
}

[data-testid="baseButton-secondary"] {
  background-color: #617143;
  color:whitesmoke
}
[data-testid="baseButton-primary"] {
  background-color: rgb(255, 75, 75);
  color: whitesmoke
}
input[type="text"]{
  color:#503c3c;
  background-color:#f0f2f6;
}

[data-testid="InputInstructions"] {
  visibility: hidden;
}
